<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <header>
        <h1>Login to Our Flask App</h1>
    </header>
    <main>
        <form action="/login" method="post">
            <div>
                <label for="email">email:</label>
                <input type="text" name="email" required>
            </div>
            <div>
                <label for="password">Password:</label>
                <input type="password" name="password" required>
            </div>
            <div>
                <input type="submit" value="Login">
            </div>
        </form>
    </main>
    <footer>
        <p>Don't have an account? <a href="/register">Register here</a>.</p>
    </footer>
</body>
</html>
